        <%- include ("./header.ejs") %> 
        <title>Tabla productos</title>
    </head>
    <body>
        <div class="table-responsive" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <h1 style="text-align: center; margin: 50px auto;">Tabla de productos</h1>
            <% if (productos.productos.length > 0) { %>
                <table class="table" style="width: 80%; margin: 0 auto;">
                    <thead>
                        <tr>
                            <th  scope="col">Nombre</th>
                            <th  scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i of productos.productos){ %>
                            <tr>
                                <td><%= i.name %></td>
                                <td><%= i.price %></td>
                                <td><img style="object-fit: contain; width: 50px;" src=<%= i.image %> alt=<%= i.name %> /></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
                <h2 style="margin: 10px auto; color: red;">No hay productos para mostrar</h2>
            <% } %>
            <a href="/" class="btn btn-primary" style="padding: 10px 20px; width: 30%;margin-top: 40px;">Formulario</a>
        </div>
    </body>
</html>